<!DOCTYPE html>
<html class="menu">
<html>

  <%- include("../partials/head", {view : "Listado productos"}) %>


<body class="body-admin-list-products">

  <main>
    <!-- Navegador Dashboard -->
    <div class="dashboard-admin-contenido">
    


    <!-- Table -->
    <div class="dashboard-admin-content">
      <h1 class="titulo">LISTA DE PRODUCTOS</h1>

      <a href="/admin/crear-productos" class="btn btn-primary crear-producto-btn">Crear Producto</a>
      <div class="contenedor-tabla">
        <table class="table table-list-products">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Descripción Destacada</th>
              <th scope="col">Categoría</th>
              <th scope="col">Colores</th>
              <th scope="col">Precio</th>
              <th scope="col">Talle</th>
              <th scope="col">Nuevo</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(p => { %>
            <!-- <div class="dflex flex-column"> -->
            <tr>
              <th scope="row"><%= p.id %></th>
              <td><img class="img-product" src="/images/products/<%= p.image[0] %>" alt=""></td>
              <td class=""><%= p.name %></td>
              <td class=""><%= p.description %></td>
              <td class=""><%= p.featuredDescription %></td>
              <td class=""><%= p.category %></td>
              <td class=""><%= p.colors %></td>
              <td class=""><%= p.price %></td>
              <td class=""><%= p.size %></td>
              <td class=""><%= p.new %></td>
              <td class=""><%= p.sale %></td>
              <td class=""><%= p.available %></td>


              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="" class="btn acc-btn btn-info d-inline-block info">Info</a>
                  <a href="/admin/editar-productos" class="btn acc-btn btn-warning d-inline-block editar">Editar</a>
                  <a href="/admin/eliminar-producto?id=<%= p.id %>&name=<%= p.name %>" class="btn acc-btn btn-danger d-inline-block eliminar">Eliminar</a>
                </div>
              </td>
            </tr>


            

            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </main>
  <!-- Boostrap scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>